In [71]:
import pandas as pd
import numpy as np
import os

from configparser import ConfigParser, ExtendedInterpolation

In [72]:
# read config file
config = ConfigParser(interpolation=ExtendedInterpolation())
config.read("config.ini")

['config.ini']

In [73]:
FOLDER = config.get("main", "ROOTFOLDER")
SATURATION_FILENAME = config.get("main", "SATURATION_FILENAME")
SATURATION_NEW_FILENAME = config.get("main", "SATURATION_NEW_FILENAME")

In [74]:
os.path.join(FOLDER, "smFISH-database", SATURATION_FILENAME)

'/Users/kkolyva/Downloads/smFISH-database/embryos_saturation_raw.csv'

In [75]:
df_path = os.path.join(FOLDER, "smFISH-database", SATURATION_FILENAME)
df = pd.read_csv(df_path, sep=",", names=["image", "count"])

In [76]:
df.head()

                             image  count
0           C1-N2_718_cropped_1637      0
1    C0-RNAi_rluc_682_cropped_8370      0
2          C1-N2_1137_cropped_3780      0
3    C3-RNAi_sdc2_880_cropped_4436      0
4  C2-RNAi_dpy27_1778_cropped_6924      0

In [77]:
df["channel"] = df["image"].apply(lambda x: x[:2])
df["image"] = df["image"].apply(lambda x: x[3:])

In [78]:
df.head()

                          image  count channel
0           N2_718_cropped_1637      0      C1
1    RNAi_rluc_682_cropped_8370      0      C0
2          N2_1137_cropped_3780      0      C1
3    RNAi_sdc2_880_cropped_4436      0      C3
4  RNAi_dpy27_1778_cropped_6924      0      C2

In [79]:
df_out = df.pivot_table(
    values='count', 
    index='image', 
    columns='channel',
)

In [80]:
df_out.to_csv(os.path.join(FOLDER, "smFISH-database", SATURATION_NEW_FILENAME))